*{
    margin: 0;
    padding: 0;
}
.navber{
    height: 50px;
    width: 100%;
    background-color: black;
   
}
.banner{
    height: 900px;
    width: 100%;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-logo{
    height: 250px;
    width: 600px;
    margin-top: -750px;
    margin-left: 150px;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    position: relative;
}
.banner-logo h1{
    color: white;
    font-size: 5rem;
   
}
.banner-logo h2{
    color: rgb(60, 255, 0);
    font-size: 5rem;
   
}
.banner-logo h3{
     color: rgb(60, 255, 0);
    font-size: 3rem;
    margin-top: -100px;
  
    font-weight:700;
    font-family:'Times New Roman', Times, serif;
}


.banner-btn{
    height: 100px;
    width: fit-content;
        margin-left: 150px;
        display: flex;
        gap: 20px;
         
}
.banner-btn button{
    height: 30px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
   
   

    
}
.btn-1{
    background-color: rgb(126, 235, 18);
    color: rgb(0, 0, 0);
    border: none;
   
}
.btn-2{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.banner-logo2{
    height: 600px;
    width: 700px;
    margin-left: 700px;
    margin-top: -450px;
}
.banner-logo2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-2{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    
}
.banner-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(4px);
   
}
.content-box{
    height: 600px;
    width: 1200px;
  
    margin-top: -600px;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-box .img-box{
    height: 500px;
    width: 500px;
    margin-top: 20px;
   
}
.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-box .details-box{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    
}

.details-box h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}
.details-box h4{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(186, 173, 173);
    
}
.details-box button{
    background-color: rgb(126, 235, 18);
    color: rgb(0, 0, 0);
    border: none;
    padding: 7px;
    font-size: 0.95;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-top: 15px;

   
}
.banner-3{
    height: 800px;
    width: 100%;
}
.banner-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
}
.headline{
    height: 100px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -700px;
}
.headline h4{
    color:  rgb(126, 235, 18);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.headline h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}
    .team-box{
         height:fit-content;
         width: 1000px;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         position: relative;
         z-index: 1;
         margin-left: auto;
         margin-right: auto;
         margin-top: 20px;
    }

    .box-img{
        width: 225px;
        height: 350px;
    }
    .box-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }